# LaTeX 编译生成的中间文件
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.run.xml
*.bcf

# 编译生成文件
*.o
*.a
*.so
*.out
*.bak

.vscode/

# 编辑器临时文件
*.swp
*~

# 最终 PDF 文件
*.pdf

# 数据结构和算法
!数据结构和算法/Data structures and algorithm analysis in C++.pdf
!数据结构和算法/《算法导论》第三版英文版.pdf

# analysisIII

# conway
conway/doc
conway/conway

# mandelbrot

*.Zone.Identifier